<div class="home-root">
  <div class="home-left">
    <h2 class="home-name">Alejandro <span class="highlight">Abeyta</span></h2>
    <div class="home-contact">
      <div>E: alejandroa@gmail.com</div>
      <div>T: +1 (234) 567 80 98</div>
    </div>
  </div>
  <div class="home-center">
    <p class="home-intro">
      Hello, I’m <span class="highlight">Alejandro Abeyta</span>, UX/UI Designer and Front-end Developer Based in San Francisco.
    </p>
    <h1 class="home-cool">
      I code cool <span class="highlight">websites</span>
    </h1>
  </div>
  <!-- Social links and other elements can be added here -->
</div>
